*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.header{
    width: 100%;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
    position: sticky;
    top: 0;
}
.navbar .logo img{
    width: 70%;
}
.navbar .logo a{
    text-decoration: none;
}
.navbar .responsive-nav{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-between;
}
.navbar .responsive-nav .nav-center{
    display: flex;
}
.navbar .responsive-nav .nav-center .search-box{
    display: flex;
    border: 1px solid ;
    width: 500px;
}
.navbar .responsive-nav .nav-center .search-box input{
    width: 80%;
    border: none;
    outline: none;
    padding: 10px 0;
    padding-left: 2%;
    
}
.navbar .responsive-nav .nav-center .search-box i{
    width: 20%;
    border-left: 1px solid gray;
    padding: 10px 0;
    text-align: center;
    color: black;
    cursor: pointer;
}
.navbar .responsive-nav .nav-right{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.navbar .responsive-nav .nav-right li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 20px 20px;
    font-size: 15px;
    display: block;
}
.navbar .responsive-nav .nav-right #store:hover {
    background-color:whitesmoke;
    border: 0px solid gray;
    padding: 10px 10px;
    border-radius: 100px;
    transition: 1s;
}
.navbar .responsive-nav .nav-right #user:hover{
    background-color:#23a2f6;
    border: 1px solid gray;
    padding: 10px 10px;
    border-radius: 100px;
    transition: 1s;
}
.navbar .responsive-nav .nav-right #cart:hover{
    background-color:#23a2f6;
    border: 1px solid gray;
    padding: 10px 10px;
    border-radius: 150px;
    transition: 1s;
}
.navbar .hambuger{
    cursor: pointer;
    padding: 10px 15px;
    animation: hambuger 1s linear infinite alternate;
    display: none;
}
@keyframes hambuger{
    form{
        transform: scale(1)
    }
    to{
        transform: scale(1.2);
    }
}
.img-header{
    width: 100%;
    display: flex;
    justify-content: center;

}
.swiper{
    width: 80%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: black;
}
.swiper .swiper-pagination-bullet-active{
    background-color: white ;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 1.5rem;
}
.menu .btn-buy{
    display: block;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 20px;
    width: 90px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid black;
    transition: 1.5s all;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.menu:hover .btn-buy{
    box-shadow: inset 100px 0 0 0 black;
    color: white;
  
}
.all-menu{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    grid-gap: 5px;
}
.menu{
    margin-top: 9px;
    overflow: hidden;
    margin-left: 35px;
    float: left;
    padding: 8px;
    height: 310px;
    background-color: white;
    transition: box-shadow .3s;
    border: 1px solid rgba(0, 0, 0, 0.184);
    border-radius:10px;
    padding: 10px;
}
.menu:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.box-item-img{
    display: block;
    margin: auto;
    width: 100%;
    height: 135px;
    border-radius: 10px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif; 
}
.menu h6{
    margin-top: 20px;
    font-weight: bold;
    text-align: center;

}
.menu a:hover{
    color: black;
}
.text-box{
    font-weight: 400;
    float: left;
    text-align: justify;
    font-size: 14px;
    width: 100%;
    height: 20px;
    overflow: hidden;
}

.text-box1{
    margin-bottom: 40px;
}
.text1{
    width: 50%;
    height: 50px;
    float: left;
    font-size: 14px;
}
.text1 span{
    color: red;
    font-weight: bolder;
}
.icon-shirt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    float: left;
}
.icon-shirt i{
    margin-left: auto;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 14px;
    background-color: transparent;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.icon-shirt i:hover{
  box-shadow: inset 100px 0 0 0 black;
  color: white;
}
.footer{
	background-color: whitesmoke;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 50px 20px;
   background-color: white;
}
.footer-col h4{
	font-size: 15px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: black;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 10px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: black;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: black;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:black;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: black;
	background-color: blue;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.text-footer{
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    background: whitesmoke;
    color: black;
    font-family:sans-serif ;
    letter-spacing: 1px;
}